[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rnar/Desktop/IMG_20190508_125841.jpg]
row=9
col=23

[/home/rnar/Desktop/Gmail IITK.desktop]
row=0
col=22

[/home/rnar/Desktop/PVF_Pixxel.odt]
row=12
col=23

[/home/rnar/Desktop/PVF_SLIPI.odt]
row=11
col=23

[/home/rnar/Desktop/Google Calendar.desktop]
row=0
col=23

[/home/rnar/Desktop/PVF_CFD.odt]
row=10
col=23

[B0706CED706CBBAA]
row=1
col=0

[FCB0B018B0AFD802]
row=2
col=0

[e5e17ae2-0791-4a0d-8276-b10d6c1c0f87]
row=0
col=3

[Wastebasket]
row=0
col=0

[/]
row=0
col=2

[/home/rnar]
row=0
col=1

