[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/rnar/Desktop/2110.04358.pdf]
row=4
col=0

[e5e17ae2-0791-4a0d-8276-b10d6c1c0f87]
row=5
col=0

[Android]
row=7
col=0

[B0706CED706CBBAA]
row=3
col=0

[FCB0B018B0AFD802]
row=6
col=0

[Wastebasket]
row=0
col=0

[/]
row=2
col=0

[/home/rnar]
row=1
col=0

